<!DOCTYPE html>

<html>
	<head>
		<title>Editing An Item - barter</title>
		<link rel="stylesheet" type="text/css" href="css/barter.css">
	</head>
	<body>
		<h1>Now Editing <%= item.name %> (ID#<%= item.itemID %>)</h1>
		<form action="/editItem" METHOD="POST">
			<div>
				<input type="hidden" name="itemID" value="<%= item.itemID %>" readonly>
				<label>Item Name: </label>
				<input type="text" name="name" placeholder="<%= item.name %>" value="<%= item.name %>">
				<br>
				<label>Item Description: </label><br>
				<textarea name="desc" rows="10" cols="32"><%= item.desc %></textarea>
				<br>
				<label>Item Image: </label> 
				<select name="img">
					<!-- List of all images in the directory. -->
					<% images.forEach(function (image) { 
						if (image === item.img) {%>
							<option value="<%= image %>" selected><%= image %></option>
						<% }
						else { %>
							<option value="<%= image %>"><%= image %></option>
						<% }
					}); %>
				</select>
				<br>
				<label>Item Rarity: </label>
				<select name="rarityID">
					<!-- List of all rarities in the database. -->
					<% rarities.forEach(function (rarity) { 
						if (rarity.rarityID === item.rarityID) {%>
							<option value="<%= rarity.rarityID %>" selected><%= rarity.name %></option>
						<% }
						else { %>
							<option value="<%= rarity.rarityID %>"><%= rarity.name %></option>
						<% }
					}); %>

				</select>
				<br>
				<label>Item Category: </label>
				<select name="categoryID">
					<!-- List of all categories in the database. -->
					<% categories.forEach(function (category) { 
						if (category.categoryID === item.categoryID) { %>
							<option value="<%= category.categoryID %>" selected><%= category.name %></option>
						<% }
						else { %>
							<option value="<%= category.categoryID %>"><%= category.name %></option>
						<% }
					}); %>
				</select>
				<br>
				<label>Item Function: </label>
				<select name="functionID">
					<!-- List of all item functions in the database. -->
					<% itemFunctions.forEach(function (itemFunction) { 
						if (itemFunction.functionID === item.functionID) {%>
							<option value="<%= itemFunction.functionID %>" selected><%= itemFunction.name %></option>
						<% }
						else { %>
							<option value="<%= itemFunction.functionID %>"><%= itemFunction.name %></option>
						<% }
					}); %>
				</select>
				<br>
				<label>Max Stack Amount: </label>
				<input type="number" min="1" name="maxStack" placeholder="Enter Max Stack" value="<%= item.maxStack %>">
				<br>
				<label>Will It Be Tradeable?: </label>
				<% if (item.canTrade){ %>
					<input type="radio" name="canTrade" value="true" checked>Yes
					<input type="radio" name="canTrade" value="false">No
				<% }
				else { %>
					<input type="radio" name="canTrade" value="true">Yes
					<input type="radio" name="canTrade" value="false" checked>No
				<% } %>
				<br>
				<input type="submit" value="Submit Changes">
			</div>
		</form>
		<div>
			<p><a href="/viewItem?id=<%= item.itemID %>">Click here</a> to return to viewing this item's details.</p>
		</div>
	</body>
</html>
